/* Add here all your CSS customizations */

video {
	filter: opacity(30%);
}

section.section.servicios-seccion {
	background: white;
}

.logo-white {
	display: block;
}

.logo-black {
	display: none;
}

.sticky-header-active .logo-white {	
	display: none;
}

.sticky-header-active .logo-black {	
	display: block;
}

@media (max-width: 500px) {
	.tp-caption.desktop-only {
		display: none;
	}
}

@media (max-width: 1000px) {
    .logo-black.esquinero {
        display: none;
    }
}

.servicios-html .header-body {
	background-color: #171717 !important;
	position: fixed !important;
}

.servicios-spacing {
	margin-top: 100px;
}

.esquinero {
    width: 100px;
    position: fixed;
}

.team-container {
	justify-content: center;
}

.servicios-header {
	margin-top: 70px;
}

.heading-primary {
	margin: 15px 0;
}

.nosotros-image {
	width: 100%;
	height: 60%;
}

.nosotros-text {
	margin-top: 40px;
}