/* Add here all your CSS customizations */

video {
	filter: opacity(30%);
}

section.section.servicios-seccion {
	background: white;
}

.logo-white {
	display: block;
}

.logo-black {
	display: none;
}

.sticky-header-active .logo-white {	
	display: none;
}

.sticky-header-active .logo-black {	
	display: block;
}

@media (max-width: 500px) {
	.tp-caption.desktop-only {
		display: none;
	}
}

@media (max-width: 1000px) {
    .logo-black.esquinero {
        display: none;
    }
}

.servicios-html .header-body {
	background-color: #171717 !important;
	position: fixed !important;
}

.servicios-spacing {
	margin-top: 100px;
}

.esquinero {
    width: 100px;
    position: fixed;
}

.team-container {
	justify-content: center;
}

.servicios-header {
	margin-top: 70px;
}

.heading-primary {
	margin: 15px 0;
}

.nosotros-image {
	width: 100%;
	height: 60%;
}

.nosotros-text {
	margin-top: 40px;
}

.section-clientes {
	margin: 50px 0;
}

.contacto {
	margin: 50px 0;
}

.end-page {
	margin-bottom: 50px;
}

.tp-bgimg.defaultimg {
	opacity: 0.35 !important;
} 

.scroll-to-top {
	visibility: hidden !important;
}

@media (min-width: 501px) {
	.language {
		position: absolute;
		right: -29px;
		top: 22px;
		height: 25px;
		z-index: 10000000;
	}

	.tp-caption.mobile-only {
		display: none;
	}
}

body .tparrows {
    background: transparent !important;
}

body .tparrows:before {
    font-size: 50px !important;
    color: #c5341b !important;
}

body .tparrows:hover {
    color:#c5341b !important;
}

@media (max-width: 500px) {
	.img-fluid {
		width: 90px !important;
	}
	.language {
		position: fixed;
		right: 40px;
		bottom: 15px;
		height: 30px;
		z-index: 10000000;
	}

	#gmap_canvas, 
	.gmap_canvas {
		width: 330px !important;
	}

	body .tparrows {
		background: transparent !important;
		display: none;
	}
}

